{% extends "default.html.twig" %}



{% block content %}
<div class="users-cont">
    <div class="heading-btn-cont">
        <div class="heading">
            <h1>Users</h1>
        </div>
        <div class="heading-btn-cont-inner">
            <a href="/user/add" class="btn btn-primary btn-round">Add User</a>
        </div>
    </div>

    <div class="users-cont-inner">
        <div class="users-table-cont">
            <table class="users-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Level</th>
                        <th>Edit/View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="user-item" data-brand-item="/user/{{ user.getId }}">
                        <td>{{ user.getId }}</td>
                        <td>{{ user.getName }}</td>
                        <td>{{ user.getLastname }}</td>
                        <td>{{ user.getLevel.value }}</td>
                        <td>
                            <a href="/user/{{ user.getId }}" class="btn btn-primary btn-round btn-small">View</a>
                            <a href="/user/{{ user.getId }}" class="btn btn-primary btn-round btn-small">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Level</th>
                        <th>Edit/View</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}